repos:
- repo: local
  hooks:
  - id: swiftlint
    name: swiftlint
    entry: swiftlint
    language: system
    files: \.swift$
    types: [swift]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.0
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format